footer {
   background: linear-gradient(180deg, #F0F2F5 35.11%, rgba(255, 255, 255, 0) 75.03%), #FFFFFF;
   border-top: 1px solid $text-color;
   padding-top: 2rem;
}

.footer-social {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   max-width: 240px;

   margin: auto;
   margin-bottom: 30px;
}

.footer-social > * {
   display: flex;
   width: 30px;
   height: 30px;

   border-radius: 4px;
   padding: 4px;
}

.footer-social > *:hover {
   background-color: darken($secondary-color, 10);
}

footer > p {
   text-align: center;
   line-height: 1.25;
}

footer > p > a:hover {
  text-decoration: underline;
}
