

.portfolio {

   padding-bottom: 10rem;

   &__cards {
      max-width: 100rem;
      margin: auto;
   }

   h2 {
      position: relative;
      top: -40px;

      margin-left: 2rem;
   }
}

.guuruq {
      height: 15px !important;
   width: 15px !important;
}


.guuruq:hover, .guuruq:focus {
	box-shadow: 0 0 1px 3px lighten($text-color, 15) !important;
}

.cJeRRR {
   background-color: $text-color !important;
   box-shadow: 0 0 0px 0px $text-color !important;
   height: 15px !important;
   width: 15px !important;
}