.portfolio {

   padding-bottom: 10rem;

   &__cards {
      max-width: 100rem;
      margin: auto;
   }

   h2 {
      position: relative;
      top: -40px;

      margin-left: 2rem;
   }
}

.rec-dot:hover {
   box-shadow: 0 0 1px 3px $text-color !important;
}

.rec.rec-dot_active {
   box-shadow: 0 0 1px 3px $text-color !important;
   background-color: $text-color !important;
}
