
// Color

$primary-color : #FAFAFA;
$secondary-color: #F0F2F5;
$tertiary-color:#FFFF;

$text-color:#061529;

$link-color:#7850E9;
$line-color:#EAECF0;
$btn-color:#1d2b3d;

$js-color:#F7DF1E;
$redux-color:#764ABC;
$react-color:#FFFF;
$php-color:#707FBA;
$sass-color:#E2E2E2;
$node-color:#63995E;

$svg-color:#6EA4F5;
$alert-color:#A53860;
$success-color: #61C9A8;


// Screen media Queries

$large-screen : 1024px;
$medium-screen : 767px;
$small-screen: 480px;

// 812 555
